.scrollTopperButton {
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    right: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10000;

    &.active {
        bottom: 50px;
        transform: translateY(0%);
    }

    @media screen and (max-width: 991px) {
        width: 60px;
        height: 60px;
    }

    @media screen and (max-width: 767px) {
        width: 55px;
        height: 55px;
    }

    @media screen and (max-width: 575px) {
        width: 45px;
        height: 45px;
        right: 30px;

        &.active {
            bottom: 30px;
        }
    }

    .st-arrow-container {
        width: 55%;
        height: 37%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);

        .st-arrow-left,.st-arrow-right {
            width: 12%;
            height: 100%;
            position: absolute;
            background-color: white;
            bottom: 0;
            border-radius: 5px;
            transform-origin: bottom;
        }

        .st-arrow-left {
            left: 0;
            transform: rotate(45deg);
        }

        .st-arrow-right {
            right: 0;
            transform: rotate(-45deg);
        }
    }
}